extends layout

block content
  form(action="/telegram", method="post" class="form" id='telegramForm' enctype="application/x-www-form-urlencoded")
    .form__container
        .form__blur
        .form__title
            .form__title-line
            h3.form__title-text Связаться со мной
            .form__title-line
        .form__inputs
            input(type="text" name='name' placeholder="Имя" class="form__input" required)
            input(type="email" name='email' placeholder="Email" class="form__input" required)
            textarea(name="text" placeholder="Ваше сообщение" class="form__input form__message" required)
    .form__buttons
        input(type="submit" class="form__submit" value="Отправить")
        .form__clean Очистить
  
  script(src="/javascripts/app.js")